@{
    ViewData["Title"] = "Home Page";
}

<!--<style>
    .text-center {
        background-color: lightyellow;
        background-size:contain;
        
    }
</style>-->
<div class="text-center">
    <h1 class="display-4">Welcome to Yellow Light</h1>
    <p>Click here to <a href="/home/Registration">Register</a></p>
</div>
