
@{
    ViewData["Title"] = "Registration";
}


<h1>Register for our Coffee Club</h1>

<form method="post" action="/home/ShowRegistration">

    First Name: <input type="text" name="firstname"/><br />
    Last Name: <input type="text" name="lastname"/><br />
    Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email" /><br />
    Password: &nbsp;&nbsp;<input type="password" name="password"/><br />
    <input type="submit" />

</form>

